 /* SignIn.css */
 
 body {
     margin: 0;
     font-family: 'Arial', sans-serif;
 }
 
 nav {
     background-color: #333;
     color: white;
     padding: 10px;
     display: flex;
     justify-content: space-between;
 }
 
 .logo img {
     height: 40px;
     width: auto;
 }
 
 .tabs ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     display: flex;
 }
 
 .tabs li {
     margin-right: 10px;
 }
 
 .tabs a {
     text-decoration: none;
     color: white;
 }
 
 .hero {
     background-color: #f2f2f2;
     padding: 50px;
     text-align: center;
 }
 
 .hero-content {
     max-width: 600px;
     margin: auto;
 }
 
 .signin-form {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 label {
     margin-top: 10px;
 }
 
 input {
     margin-bottom: 20px;
     padding: 10px;
     width: 100%;
     box-sizing: border-box;
 }
 
 button {
     background-color: #4caf50;
     color: white;
     padding: 10px 20px;
     border: none;
     cursor: pointer;
 }
 
 button:hover {
     background-color: #45a049;
 }
 
 .forgot-password a {
     text-decoration: none;
     color: #333;
 }
 
 .forgot-password a:hover {
     text-decoration: underline;
 }
 
 footer {
     background-color: #333;
     color: white;
     padding: 10px;
     text-align: center;
 }